/* Сам сайт */
body {
    position: relative;
    font-family: 'Segoe UI Symbol', system-ui;
    font-size: 18px;
    line-height: 1.4;
    min-width: 320px;
    overflow-x: hidden;
    height: auto;
    background: #5D88AC;
}

table{
    background-color: #32618a;
}

tr{
    color:#fff;
}

/* Шапка */
header {
    position: fixed;
    width: 100%;
    background: #2B5477;
    height: 70px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .2);
}

/* */
.container {
    position:fixed;
    height: 70px;
    padding-left: 50px;
}

/* Логотип */
.logo{
    box-shadow: 0 4px 10px rgba(0, 0, 0, .1);
    position: absolute;
    object-fit: cover;
    vertical-align: middle;
    left: 35px;
    bottom: 10px;
}

/* */
.pages {
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* */
.buttons {
    list-style-type: none;
    padding-left: 70px;
    margin-bottom: 0;
}

/* Вкладка пользователи, добавлен для анимации hover */
.el1, .el2, .el3, .el4, .el5, .el6 {
    color: #fff;
}


/* анимация hover */
.el1:hover, .el2:hover, .el3:hover, .el4:hover, .el5:hover, .el6:hover{
    border-color: #7d9fbc;
    color: #7d9fbc;
}

/* */
.btn {
    justify-content: center;
    align-items: center;
}

/* */
.buttons li {
    display:inline-block;
}

/* */
.buttons li a {
    display:inline-block;
}

/* */
.auth {
    position: center;
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
}

/* */
.auth li{
    display: inline-block;
}

/* */
.auth li a{
    display: inline-block;
}

/* */
.data {
    list-style-type: none;
    padding-left: 1000px;
    margin-bottom: 0;
}

/* */
.data li{
    display: inline-block;
}

/* */
.data li a{
    display: inline-block;
}