/* Сам сайт */
body {
    position: relative;
    font-family: 'Segoe UI Symbol', system-ui;
    font-size: 18px;
    line-height: 1.4;
    min-width: 320px;
    overflow-x: hidden;
    height: auto;
    background: #5D88AC;
}

#cards {
    border-color: #6e9ecb;
    border-width: 2px;
    background: #355e85;
    color: #7d9fbc;
    max-width: 17%;
    text-align: center;
}

#submit {
    border-color: #6e9ecb;
    border-width: 2px;
    background: #355e85;
    color: #a7d4fd;
}

table {
    background-color: #32618a;
    width: 50%;
}

tr {
    color: #fff;
}

.sub-header {
    height: 70px;
}

/* Шапка */
header {
    position: fixed;
    width: 100%;
    background: #2B5477;
    height: 70px;
    left: 0;
    right: 0;
    top: 0;
    z-index: 2;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .2);
}

/* */
.container {
    position: fixed;
    height: 70px;
    padding-left: 50px;
}

.card{
    text-align: center;
}

.card img {
    height: 170px;
    object-fit: cover;
    display: block;
    width: 100%;
    filter: blur(1px);
}
.card-title{
    color: #6e9ecb;
}

#about-us, #index {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    margin-top: 5%;
}

#about-us-body, #index-body{
    border-radius: 10px;
    display: flex;
    height: 15%;
    border-color: #6e9ecb;
    border-width: 3px;
    background: #355e85;
    color: #7d9fbc;
    max-width: 40%;
}

#about-us p, #index p {
    width: 100%;
    color: #a7d4fd;
    align-items: end;
}

/* Логотип */
.logo {
    box-shadow: 0 4px 10px rgba(0, 0, 0, .1);
    position: absolute;
    object-fit: cover;
    vertical-align: middle;
    left: 35px;
    bottom: 10px;
}

/* */
.pages {
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttons {
    list-style-type: none;
    padding-left: 70px;
    margin-bottom: 0;
}

.buttons li {
    display: inline-block;
}

.buttons li a {
    display: inline-block;
}


/* Вкладка пользователи, добавлена для анимации hover */
.el1, .el2 {
    color: #a7d4fd;
}

/* анимация hover для кнопок */
.el1:hover, .el2:hover {
    border-color: #a7d4fd;
    color: #a7d4fd;
}

#username, #password, #role, #name, #type, #price{
    background-color: #355e85;
    color: #a7d4fd;
    border-color: #a7d4fd;
}

#username, #password{
    text-align: center;
}

#username_auth, #password_auth{
    background-color: #a7d4fd;
    color: #355e85;
    border-color: #355e85;
}


/* */
.auth {
    position: center;
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
}

/* */
.auth li {
    display: inline-block;
}

/* */
.auth li a {
    display: inline-block;
}

/* */
.data {
    list-style-type: none;
    padding-left: 1100px;
    margin-bottom: -20px;
}

/* */
.data li {
    display: inline-block;
}

/* */
.data li a {
    display: inline-block;
}

.topl {
    height: 40px;
    padding-left: 100%;
}

.wrap {
    width: 40px;
    overflow: hidden;
}

.wrapper{
    display: flex;
    justify-content: space-around;
}

.topl a {
    float: left;
    border-left: 1px solid rgba(0, 0, 0, 0);
    border-right: 1px solid rgba(0, 0, 0, 0);
    height: 40px;
    line-height: 40px;
    width: 45px;
    text-decoration: none;
    color: #7d9fbc;
    transition: 0.2s ease-in-out;
}

.topl .menux {
    position: absolute;
    top: 75px;
    left: 91%;
    width: 200px;
    background: #32618a;
    border-radius: 7px;
    display: none;
    text-align: center;
    white-space: nowrap;
}

.topl .menux a {
    width: 100%;
    height: 25px;
    margin: 1%;
    margin-top: 5px;
    line-height: 25px;
    margin-left: -10%;
}

.topl .menux a:last-child {
    margin-bottom: 5px;
}

.topl a:last-child {
    margin-right: 0;
}

.registration-form{
    text-align: center;
}